* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ##Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* ### Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "LeagueSparta";
  src: url(Fonts/LeagueSpartan-VariableFont_wght.ttf);
}
body {
  font-size: 15px;
  font-family: "LeagueSparta";
  background:
    url(images/bg-pattern-top-mobile.svg) no-repeat,
    top,
    left url(images/bg-pattern-bottom-mobile.svg),
    no-repeat,
    bottom,
    right;
  background-color: var(--White);
  margin: 20px;
}
header {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
  line-height: 29px;
  padding: 65px 0px 0px;
  color: var(--Very-Dark-Magenta);
}
header p {
  color: var(--Dark-Grayish-Magenta);
  font-weight: 600;
  line-height: 20px;
  font-size: 1.1em;
  margin: 20px 10px;
}
content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
content ul {
  display: flex;
  flex-direction: column;
}
content ul li {
  display: flex;
  flex-direction: row;
}
content .box {
  background-color: #f7f2f8;
  border-radius: 10px;
  margin: 7px 0px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
content .box .img {
  display: flex;
  justify-content: center;
  gap: 5px;
}
content .box strong {
  color: #4e3750;
}
.card {
  background-color: #511f50;
  border-radius: 15px;
  margin: 0px 0px 20px;
}
.card img {
  border-radius: 50%;
  width: 45px;
}
.card .header {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 30px;
}
.card .header .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card .header .name {
  color: white;
  font-weight: 500;
  display: flex;
}
.card .header .status {
  color: #c96ca5;
  font-weight: 500;
}
.card p {
  font-size: 1em;
  color: white;
  padding: 0px 30px 35px;
  line-height: 20px;
}
@media screen and (min-width: 1440px) {
  body {
    background: url(images/bg-pattern-top-desktop.svg) no-repeat;
    margin: 100px 150px;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  section {
    width: 50%;
    text-align: left;
  }
  section h1 {
    padding: 0 140px 0 0;
    font-size: 4em;
    font-weight: 7500;
    line-height: 60px;
    letter-spacing: -3px;
  }
  section p {
    font-size: 1.4em;
    line-height: 25px;
    margin: 10px 110px 0 0;
    letter-spacing: 1px;
    font-weight: 600;
  }
  content {
    display: flex;
    width: 50%;
    margin: 0;
    display: flex;
    position: relative;
  }
  content .box {
    margin: 0p, 0, 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 30px;
  }
  content img {
    width: 20px;
  }
  content strong {
    font-size: 1.4em;
  }
  content #one {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25px;
    left: 0px;
  }
  content #two {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 110px;
    left: 40px;
  }
  content #tree {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    right: 0px;
  }
  main {
    display: flex;
    gap: 20px;
    height: 280px;
    position: relative;
  }
  .card {
    height: 250px;
    width: 360px;
    border-radius: 10px;
    margin: 0;
  }
  #um {
    position: absolute;
    top: 0%;
    left: 0%;
  }
  #dois {
    position: absolute;
    top: 15px;
    left: 390px;
  }
  #tres {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
